
<html>
    <div class="container text-center">
        
    <head>
    <h1 class="top">Dashboard</h1>
    </head>
    <body>
    <div style="width:30%; margin:28px auto">

        <p>
            
            Logged User : <%=loggedUser%>
        </p>
    
    <form action="/api/logout" method="POST">
        
            <button> Logout</button>
        
    </form>
        </div>
    </body>
    </html>
    